@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerImage {
  background-image: url("../public/headerImg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1207px;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.images {
  width: 94px;
  height: 38px;
  mix-blend-mode: normal;
  /* opacity: 0.3; */
}
