.headerImage {
  background-image: url("../public/headerImg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1207px;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.images {
  width: 114px;
  height: 48px;
  mix-blend-mode: normal;
  margin-bottom: 70px;
}

.navbar {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.navChild {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-content: space-between;
  margin-right: 5%;
}

.hero1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}

.heroChild {
  width: 480px;
  height: 186px;
}

.guranteed {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  margin-top: 180px;
}

.aboutMeChild {
  display: flex;
  justify-content: space-around;
  height: 156px;
  align-items: center;
  width: 100%;
  color: #f8f8f8;
}

.DWEIM {
  color: #000000;
  font-size: 45px;
  margin-bottom: 90px;
  font-weight: 700;
}

.parentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.box {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.learnMore {
  color: #ff7008;
  text-decoration: underline;
  text-align: center;
  margin-top: 45px;
  cursor: pointer;
}

.learnMoreD {
  margin-top: 45px;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
}
